.container {
  width: 300px;
  height: 300px;
  border: solid 1px black;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
}

.cube {
  width: 100px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 1px solid black;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  transform: rotateY(-90deg) translateZ(50px);
}

.right {
  transform: rotateY(90deg) translateZ(50px);
}

.front {
  transform: translateZ(50px);
}

.back {
  transform: translateZ(-50px) rotateY(180deg);
}

.top {
  transform: rotateX(90deg) translateZ(50px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}